.boydHeadshot {
    width: 40%;
    max-width: 900px;
}

.photoAndInfoWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.infoWrapper {
    padding-left: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
}